@model NewsEntity.Models.Article

@{
    ViewBag.Title = "Редактирование публикации";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="~/Scripts/ckeditor.js"></script>

@section Scripts
{
    @Scripts.Render("~/bundles/datepicker")
@Scripts.Render("~/Scripts/locales/bootstrap-datepicker.ru.min.js");
    
}

@section Styles
{
    <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/datepicker")
}


<div class="cell auto-size padding20 bg-white" id="cell-content">
    <h1 class="text-light">Редактирование новости <span class="mif-file-text place-right"></span></h1>
    <hr class="thin bg-grayLighter">

    @using (Html.BeginForm("Edit", "Article", null,
    FormMethod.Post, new { @class = "form-horizontal" }))
{

        <div class="grid">
            <div class="row">
                <div class="cell">
                    <label class="block">Заголовок:</label>
                    <div class="input-control text">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="offset10">
                    <label class="block">Анонс:</label>

                    <div class="input-control textarea">
                        @Html.TextAreaFor(model => model.Anons, new { id = "Article_Anons" })
                        
                    </div>
                    @Html.ValidationMessageFor(model => model.Anons)
                </div>
            </div>
            
            <div class="row">
                <div class="offset10">
                    <label class="block">Проверить орфографию:</label>

                    <a href="https://orfogrammka.ru" target="_blank">Орфограммка</a>
                    <a href="https://text.ru/spelling/unauthorized" target="_blank">Text.Ru</a>
                </div>
            </div>

            <div class="row">
                <div class="offset10">
                    <label class="block">Содержимое:</label>

                    <div class="input-control textarea">
                        @Html.TextAreaFor(model => model.Content, new  { id="Article_Content"})
                        <script>
                            CKEDITOR.replace("Article_Content",
                                {
                                    enterMode: CKEDITOR.ENTER_BR
                                });
                        </script>
                    </div>
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </div>

            <div class="row">
                <div class="offset10">
                    <label class="block">Категория:</label>

                    <select name="Category">
                        @foreach (var category in NewsEntity.Models.Article.CategoryList)
                        {
                            if (category.ID == Model.Category)
                            {
                                <option value="@category.ID" selected>@category.Name</option>    
                            }
                            else
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                            
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="offset10">
                    <label class="block">Время отображения:</label>

                    <select name="Displayed_Days">
                        @if (Model.Displayed_Days == 1)
                        {
                            <option value="1" selected>1 день</option>    
                        }
                        else
                        {
                            <option value="1">1 день</option>    
                        }
                        
                        @if (Model.Displayed_Days == 3)
                        {
                            <option value="3" selected>3 дня</option>
                        }
                        else
                        {
                            <option value="3">3 дня</option>
                        }
                        
                        @if (Model.Displayed_Days == 7)
                        {
                            <option value="7" selected>1 неделя</option>
                        }
                        else
                        {
                            <option value="7">1 неделя</option>
                        }
                        
                        @if (Model.Displayed_Days == 14)
                        {
                            <option value="14" selected>2 недели</option>
                        }
                        else
                        {
                            <option value="14">2 недели</option>
                        }
                        
                        
                        @if (Model.Displayed_Days == 30)
                        {
                            <option value="30" selected>1 месяц</option>
                        }
                        else
                        {
                            <option value="30">1 месяц</option>                            
                        }
                        
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="offset10">
                    <label class="block">Ключевые слова:</label>

                    <div class="input-control textarea">
                        @Html.TextAreaFor(model => model.Keywords, new { id = "Article_Keywords" })

                    </div>
                    @Html.ValidationMessageFor(model => model.Keywords)
                </div>
            </div>

            <div class="row">
                <div class="offset10">
                    <label class="block">Автор:</label>

                    <div class="input-control textarea">
                        @Html.TextAreaFor(model => model.Author, new { id = "Article_Author" })

                    </div>
                    @Html.ValidationMessageFor(model => model.Author)
                </div>
            </div>


            <div class="row">
                <div class="offset10">
                    <label class="block">Опубликовать:</label>

@if (@Model.Published_At.HasValue == true)
                    {

                    <div class="input-control textarea">
                        <input type="checkbox" name="isPublished" checked>
                    </div>
}
else
{
                    <div class="input-control textarea">
                        <input type="checkbox" name="isPublished">
                    </div>
    
}
                    
                </div>
            </div>

            <div class="row">
                <div class="offset10">
                    <label class="block">Дата публикации:</label>

                    @if (@Model.Published_At.HasValue == true)
                    {
                     
                    <div id="calendar" class="input-group date">
                        <span class="input-group-addon">Дата: </span>
                        <input id="datevalue" name="Published_At" type="text" data-date-format="dd.mm.yyyy" value="@Model.Published_At.Value.ToString("dd.MM.yyyy")" class="form-control">
                    </div>   
                    }
                    else
                    {
                    <div id="calendar" class="input-group date">
                        <span class="input-group-addon">Дата: </span>
                        <input id="datevalue" name="Published_At" type="text" data-date-format="dd.mm.yyyy" value="@DateTime.Now.ToString("dd.MM.yyyy")" class="form-control">
                    </div>   
                        
                    }
                    

                    <script>
                        $(document).ready(function () {


                            $('#calendar').datepicker({
                                todayBtn: true,
                                autoclose: true,
                                todayHighlight: false,
                                format: 'dd.mm.yyyy',
                                language: "ru"
                            });
                        });
                    </script>
                   
                </div>



            </div>

            <div class="row">
                <button type="submit" class="button primary">Сохранить</button>
            </div>

            <div class="row">
                @Html.ActionLink("Назад", "Index")
            </div>

        </div>




    
    

    
}
        
</div>




