@model List<NewsEntity.Models.Article>
@{
    ViewBag.Title = "Публикации";
}


<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="cell auto-size padding20 bg-white" id="cell-content">
    @if (ViewBag.Notice != "")
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Успешно!</strong> @ViewBag.Notice
        </div>
    }

    @if (ViewBag.Error != "")
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Ошибка!</strong> @ViewBag.Error
        </div>
    }
    
    <h1 class="text-light">Публикации <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">    
    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
        <thead>
            <tr>
                <td style="width: 20px"></td>
                <td class="sortable-column sort-asc" style="width: 100px">ID</td>
                <td class="sortable-column">Заголовок</td>
                <td class="sortable-column">Источник</td>
                <td class="sortable-column">Адрес</td>
                <td class="sortable-column">Дата публикации на источнике</td>
                <td class="sortable-column">Дата публикации MeteoDV</td>
                <td class="sortable-column">Категория</td>
                <td class="sortable-column">Анонс</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label class="input-control checkbox small-check no-margin">
                            <input type="checkbox">
                            <span class="check"></span>
                        </label>
                    </td>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @Html.ActionLink(@item.Title, "Edit", new { id = item.ID })
                        
                    </td>

                    <td>
                        @item.Source_Site
                    </td>

                    <td>
                        @item.Source_Url
                    </td>
                    <td>
                        @if (@item.Source_Published_At != null)
                        {
                            @item.Source_Published_At.Value.ToShortDateString()
                        }   
                    </td>

                    <td>
                        @if (@item.Published_At != null) {
                            @item.Published_At.Value.ToShortDateString()
                        }
                    </td>

                    <td>
                        @NewsEntity.Models.Article.CategoryList.Single(x=>x.ID == @item.Category).Name
                    </td>

                    <td>
                        @Html.Raw( @item.Anons )
                    </td>
                    <td>
                        @Html.ActionLink("Опубликовать", "Publish", new { id = item.ID })
                    </td>
                    <td>
                        @Html.ActionLink("Опубликовать на khabmeteo.ru", "PublishToKhabmeteo", new { id = item.ID })
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.ID })
                    </td>
                    <td>
                        @Html.ActionLink("Просмотр", "Show", new { id = item.ID })
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
            @*<tr>
                <td>
                    <label class="input-control checkbox small-check no-margin">
                        <input type="checkbox">
                        <span class="check"></span>
                    </label>
                </td>
                <td>123890723212</td>
                <td>Machine number 1</td>
                <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
                <td class="align-center"><span class="mif-checkmark fg-green"></span></td>
                <td>
                    <label class="switch-original">
                        <input type="checkbox" checked>
                        <span class="check"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-control checkbox small-check no-margin">
                        <input type="checkbox">
                        <span class="check"></span>
                    </label>
                </td>
                <td>123890723212</td>
                <td>Machine number 2</td>
                <td><a href="http://virtuals.com/machines/123890723212">link</a></td>
                <td class="align-center"><span class="mif-stop fg-red"></span></td>
                <td>
                    <label class="switch-original">
                        <input type="checkbox">
                        <span class="check"></span>
                    </label>
                </td>
            </tr>*@
        </tbody>
    </table>
</div>
