<!DOCTYPE html>
<html lang="ru" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>@ViewBag.Title</title>
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords">
    }
    @if (ViewBag.Author != null)
    {
        <meta name="author" content="@ViewBag.Author">
    }
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,500%7CNoto+Serif:400italic,700%7CNoto+Sans:700,700italic">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Header-->
        @Html.Partial("_HeaderNews")
        <!-- Page Content-->
        @RenderBody()
        <!-- Page Footer-->
        @Html.Partial("_FooterNews")     
    </div>
    <!-- Java script-->
    <script src="@Url.Content("~/js/core.min.js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>