<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metro")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")
    
</head>
<body class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        @Html.Partial("_Menu")
    </div>
        <div class="page-content">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%">
                    @Html.Partial("_SliderBar")                                        
                    @RenderBody()
                </div>
            </div>
        </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
